<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Simple HttpErrorPages | MIT X11 License | https://github.com/AndiDittrich/HttpErrorPages -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>ERROR</title>
</head>

<body>
  <div class="cover">
    <h1>ERROR EN SERVIDOR</h1>     
    <h3>{{ status }}</h3>     
    <h3>{{ message }}</h3>     
    <small>Estamos trabajando en ello.....</small>
  </div>

</body>

</html>
