<div class="example-container">
    <mat-toolbar color="basic" class="example-toolbar">

        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>

        <h1 class="example-app-name">Departamentos</h1>

        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/perfil">
                <mat-icon>account_box</mat-icon>
                <span>Mi Perfil</span>
            </button>
            <button mat-menu-item (click)="cerrarSesion()">
                <div *ngIf="!logueado()">
                    <mat-icon>account_circle</mat-icon>
                    <span>Iniciar Sesión</span>
                </div>
                <div *ngIf="logueado()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Cerrar Sesión</span>
                </div>
            </button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 200px">
            <div *ngIf="obtenerRol('Administrador')">
                <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer" routerLink="/departamento">
                    <mat-icon>search</mat-icon>
                    <span>Departamento</span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer" routerLink="/ciudad">
                    <mat-icon>search</mat-icon>
                    <span>Ciudad</span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer" routerLink="/conductor">
                    <mat-icon>search</mat-icon>
                    <span>Conductor</span>
                </button>
                <mat-divider></mat-divider>
            </div>
            <div *ngIf="obtenerRol('Despachador')">
                <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer" routerLink="/vehiculo">
                    <mat-icon>search</mat-icon>
                    <span>Vehiculo</span>
                </button>
                <mat-divider></mat-divider>
            </div>
        </mat-sidenav>

        <!-- CARGAR COMPONENTE DE MANERA DINAMICA-->
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>